* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', cursive;
}

body{
    overflow: hodde;
}

canvas{
    top: 0;
    left: 0;
}

#canvas1, #canvas2 {
    position: absolute;
    top: 0;
    left: 0;
    /* Optional: add a border for visualization */
    border: 1px solid black; 
}

#canvas2 {
    z-index: 1; /* Bottom layer */
    background-color: transparent; 
}

#canvas1 {
    z-index: 2; /* Top layer */
    background-color: transparent; 
}

img{
    display: none;
}

#loading{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 80px;
}


